.HoverIcon {
  height: 40px;
  width: 40px;

  border-radius: 50%;
  background-color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.HoverIcon > * {
  color: var(--background-color);
}

.HoverIcon:hover {
  cursor: pointer;
  opacity: 0.7;
}
