@import url("../src/css/animation.css");
@import url("../src/css/tailwind.css");

:root {
  --background-color: #fff;
  --text-color: #222;
  --toastify-color-progress-dark: green;
  --reset-btn-bg: #555;
  --stroke-color: #aaa;
  --sidebar-background: #f8f8f8;
  --button-color: "#222";
}

/* Global styling */
* {
  font-family: "Poppins", "Montserrat", "Open Sans", "DM Sans", "Work Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  color: var(--text-color);
  border: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  background-color: var(--background-color);
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

/* Text modification */
.heading-3 {
  font-size: 20px;
  font-weight: 700;
}
.heading-4 {
  font-size: 18px;
  font-weight: 600;
}
.heading-5 {
  font-size: 15px;
  font-weight: 500;
}

.small-text {
  font-size: 13px;
  opacity: 0.5;
  font-weight: 500;
}

/* Input */
input {
  height: 45px;
  width: 100%;
  border: 1px solid var(--text-color);
  border-radius: 6px;
  padding: 0 15px;
  background-color: transparent;
}

textarea {
  min-height: 45px;
  width: 100%;
  border: 1px solid var(--text-color);
  border-radius: 6px;
  padding: 15px 15px;
  /* color: #000; */
  background-color: transparent;
}
select {
  height: 45px;
  width: 100%;
  border: 1px solid var(--text-color);
  border-radius: 6px;
  padding: 0 15px;
  background-color: transparent;
}
option {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Button */
button {
  width: 100%;
  height: 45px;
  background-color: #222;
  color: var(--background-color);
  border-radius: 6px;
  background-color: var(--button-color);
}

button:hover {
  cursor: pointer;
  transform: scale(0.95);
}

button:active {
  transform: scaleY(0.8);
  transition: 0.1s;
}

button:disabled {
  opacity: 0.7;

  &:hover {
    transform: none;
    cursor: not-allowed;
  }

  &:active {
    transform: none;
  }
}

.Toastify__close-button {
  width: fit-content;
}

.Toastify__close-button * {
  color: #fff;
}

.Toastify_progress-bar-theme-dark {
  background-color: red;
}

/* Progree */
progress {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background-color: var(--stroke-color);
}

progress::-webkit-progress-value {
  background-color: var(--text-color);
}

progress::-moz-progress-bar {
}

.c-pointer {
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 700px) {
  button {
    height: 50px;
  }
  button:hover {
    cursor: pointer;
    transform: none;
  }
  button:active {
    opacity: 0.5;
  }
  input {
    height: 50px;
  }
}
